# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
6.컴퓨터그래픽스/연습/openGL/Debug/openGL.tlog/link.read.1.tlog
*.lastbuildstate
*.tlog
*.ilk
*.log
*.ipch
6.컴퓨터그래픽스/연습/openGL/.vs/openGL/v16/Browse.VC.db
6.컴퓨터그래픽스/연습/openGL/.vs/openGL/v16/.suo
*.opendb
*.pdb
*.idb
*.filters
*.user
*.user
*.vcxproj
6.컴퓨터그래픽스/연습/openGL/Debug/openGL.vcxproj.FileListAbsolute.txt
*.ipdb
*.iobj
6.컴퓨터그래픽스/연습/openGL/Release/openGL.vcxproj.FileListAbsolute.txt
3.디지털영상처리/강의자료/ex.txt
*.dsp
*.opt
*.ncb
*.dsw
*.CopyComplete
5.캡스톤디자인/document/
5.캡스톤디자인/server/node_modules/
6.컴퓨터그래픽스/연습/테스트/.vs/테스트/v16/Browse.VC.db
6.컴퓨터그래픽스/연습/테스트/.vs/테스트/v16/.suo
6.컴퓨터그래픽스/연습/hing/packages/
6.컴퓨터그래픽스/연습/irrKlang-64bit-1.6.0/
0.대내외활동/튜터링/2021-2학기+전공튜터링+2회차+과제+양식+모음/2021-2학기 전공튜터링 요약 정리 양식.hwp
0.대내외활동/튜터링/2회차/2021-2학기 전공튜터링 운영계획서.hwp
0.대내외활동/취업캠프/희망Play 취업 Job Go 캠프 참가 신청서.hwp
0.대내외활동/통합성과경진대회/img/나를_대표하는_사진2_대체.psd
6.컴퓨터그래픽스/~$프로젝트_기획서.pptx
6.컴퓨터그래픽스/연습/StarCatch/.vs/StarCatch/v16/Browse.VC.db
6.컴퓨터그래픽스/연습/StarCatch/.vs/StarCatch/v16/.suo
6.컴퓨터그래픽스/연습/StarCatch/.vs/StarCatch/v16/.suo
3.디지털영상처리/Hands-On-Image-Processing-with-Python-master/images/flower_photos
3.디지털영상처리/Hands-On-Image-Processing-with-Python-master/images/train
3.디지털영상처리/Hands-On-Image-Processing-with-Python-master/images/vaild
5.캡스톤디자인/1hour_11/products/server/node_modules
5.캡스톤디자인/1hour_11.zip
5.캡스톤디자인/1hour_11/products/client/
3.디지털영상처리/Hands-On-Image-Processing-with-Python-master/code/yolov3.weights
