# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.DS_Store
6.컴퓨터그래픽스/연습/openGL/Debug/openGL.tlog/link.read.1.tlog
*.lastbuildstate
*.tlog
*.ilk
*.log
*.ipch
6.컴퓨터그래픽스/연습/openGL/.vs/openGL/v16/Browse.VC.db
6.컴퓨터그래픽스/연습/openGL/.vs/openGL/v16/.suo
*.opendb
*.pdb
*.idb
*.filters
*.user
*.user
*.vcxproj
6.컴퓨터그래픽스/연습/openGL/Debug/openGL.vcxproj.FileListAbsolute.txt
*.ipdb
*.iobj
6.컴퓨터그래픽스/연습/openGL/Release/openGL.vcxproj.FileListAbsolute.txt
3.디지털영상처리/강의자료/ex.txt
